<div class="articleHeader">
    {% if site.showTitleOnlyInArticles == true and page.categories contains "articles" %}
        <h1>
            {{page.title}}
            <font size="1"><a href="{{site.articleDir}}{{page.path}}">[EDIT]</a></font>
        </h1>
    {% endif %}
    
    {% if page.image != nil %}
        <p><img src="{{page.image}}" alt="thumb" /></p>
    {% endif %}
    
    {% if page.date != nil and page.tags != nil %}
        <p>
            <small>{{ page.date | date: "%Y/%m/%d" }}<br/>
            CATEGORY: {{page.genre}} | TAGS: {{page.tags | join: ", "}}</small>
        </p>
    {% endif %}
    <hr/>
</div>
